<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>UCABEgresados</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/angel.css" rel="stylesheet">
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>


    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<body>
<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!      SIDE BAR                !!!!!!!!!!!!!!!!!!!!11 -->



    
<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!      PAGE CONTENT                !!!!!!!!!!!!!!!!!!!!11 -->

    <!-- Page Content -->
    <div id="page-content-wrapper" class="main-background-light" >
        <div class="container-fluid full-height">

            <div class="row">
            <h1>Recuperación De Contraseña</h1>
            <div class="alert custom-tip-alert"> Paso #3 Ingresar Nueva Contraseña.</div>
            </div>

            <div class="row  vertical-center-parent" style="height:75% !important;">
                
                <form class=" vertical-center-child" method="post"
                 action="egresado-Recuperacion3" name="registro1">

                    <div class="form-group">
                        <label >Usuario :<%= datos[0].NombreUsu %> </label>
=======
                 action="/egresado-Recuperacion3" name="registro1">

                    <div class="form-group">
                        <label >Usuario:  <%= datos[0].NombreUsu %> </label>
>>>>>>> angel
                        
                    </div>


                    <div  >           
                        <label  for="apellidoE">Ingrese Contraseña</label>
                        <input    style="width: 400px" type="password"
                         class="form-control"  id="Contraseña" name="Contraseña">
                    </div>

                    <div  >           
                        <label  for="apellidoE">Confirmar Contraseña</label>
                        <input    style="width: 400px" type="password" class="form-control"
                          id="Contraseña1" name="Contraseña1">
                    </div>
                        <br><br>
     

                        <input type="hidden" 
                        name="usuBD" value="<%= usubd[0] %>" >
=======
                        <input type="hidden" name="usuBD" value="<%= usubd %>" >
>>>>>>> angel

                    <button type="submit" style="width:300px; height:50px;" class="btn btn-primary center-block" id="VerifyButton" >
                        Guardar Cambios.
                    </button>

                </form>
            </div>

        </div>
    </div>
    <!-- /#page-content-wrapper -->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>


<script>
    $('#VerifyButton').on( 'click', function(e) {
        var CI = document.registro1.CIEmail.value;

        if (CI=="") {
            e.preventDefault(); //prevent the default action
            alert("Debe Introducir Un Numero de Cédula Valido");
        }
    });
</script>

</body>
</html>