<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>UCABEgresados</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/angel.css" rel="stylesheet">
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>


    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<body>
<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!      SIDE BAR                !!!!!!!!!!!!!!!!!!!!11 -->
<div id="wrapper">


    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <!-- Titulo en el sidebar -->
            <li class="sidebar-brand">
                <a href="#" style="text-align: center; ">
                    <p class ="brandUCAB">UCAB</p>
                    <p class ="brandEgresados">Egresados</p>
                </a>
            </li>
            <!-- Usuario en el Sidebar -->
            <div class="container-fluid">
                <div class="row columns-parent" >
                        <div class="col-md-3"   >
                            <img src="sources/non-usuario.png" class="img-responsive img-rounded "   >
                        </div>
                        <div class="col-md-9">
                            <div class="user-name">
                                <p>Usuario</p>
                                <a href="#">Editar</a>
                            </div>
                        </div>
                </div>
            </div>


            <li>
                <a href="#">Postulación</a>
            </li>
            <li>
                <div class ="button-border">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo">
                        <div>Candidatos</div>
                    </button>
                </div>
                <div id="demo" class="collapse sub-list" >
                    <ul>
                        <li  class="sub-list-item" >
                            <a href="#" > asdasd </a>
                        </li>
                        <li  class="sub-list-item" >
                            <a href="#" > asdasd </a>
                        </li>
                        <li  class="sub-list-item" >
                            <a href="#" > asdasd </a>
                        </li>
                        <li  class="sub-list-item" >
                            <a href="#" > asdasd </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#">Votación</a>
            </li>
            <li>
                <a href="#">Resultados</a>
            </li>

        </ul>



    </div>
<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!      PAGE CONTENT                !!!!!!!!!!!!!!!!!!!!11 -->

    <!-- Page Content -->
    <div id="page-content-wrapper" class="main-background-light" >
        <div class="container-fluid full-height"  >

            <div class="row">
            <h1>Registro en el Sistema</h1>
            <div class="alert custom-tip-alert"> Paso #2 - Validación</div>
            </div>

            <div class="row  vertical-center-parent" style="height:75% !important;">
                <form class="vertical-center-child form-with-lots-of-text" >

                    <h3>Se encontraron los siguientes datos correspondientes a esa cédula</h3>
                    <!--dinamico-->
                    <p class="sangria">nombre: Pedro Perez</p>
                    <p class="sangria">Correo UCAB: paperez10@est.ucab.edu.ve</p>

                    <h3 style="margin-top: 50px;">Necesitamos verificar su identidad, por favor responda la siguiente pregunta</h3>

                    <div class="form-group">
                        <!--dinamico-->
                        <label for="respuesta">¿En que año se graduó?</label>
                        <input type="text" class="form-control" id="respuesta">
                    </div>

                    <button type="submit" class="btn btn-primary center-block">
                        Validar
                    </button>

                </form>
            </div>

        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>






<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>