<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>UCABEgresados</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>


    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<body>
<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!      SIDE BAR                !!!!!!!!!!!!!!!!!!!!11 -->
<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#" style="text-align: center; ">
                    <p style="display: inline ; font-weight: bold">UCAB</p>
                    <p style="display: inline">Egresados</p>
                </a>
            </li>

            <div class="container-fluid" style="margin-top: 10px; border-bottom-style: solid; margin-bottom: 15px; ">
                <div class="row" >
                    <div class="columns-parent">
                        <div class="col-md-3"   >
                            <img src="sources/non-usuario.png" class="img-responsive img-rounded "   >
                        </div>
                        <div class="col-md-9">
                            <div class="user-name">
                                <p style="font-weight: bold">Usuario</p>
                                <p style="text-decoration: underline">Editar</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <li>
                <a href="#">Postulación</a>
            </li>
            <li>
                <button type="button" class="btn btn-link"  data-toggle="collapse" data-target="#demo"><div>Candidatos</div></button>
                <div id="demo" class="collapse sub-list" >
                    <ul>
                        <li  class="sub-list-item" >
                            <a href="#" > asdasd </a>
                        </li>
                        <li  class="sub-list-item" >
                            <a href="#" > asdasd </a>
                        </li>
                        <li  class="sub-list-item" >
                            <a href="#" > asdasd </a>
                        </li>
                        <li  class="sub-list-item" >
                            <a href="#" > asdasd </a>
                        </li>

                    </ul>


                </div>
            </li>
            <li>
                <a href="#">Votación</a>
            </li>
            <li>
                <a href="#">Resultados</a>
            </li>

        </ul>



    </div>
<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!      SIDE BAR                !!!!!!!!!!!!!!!!!!!!11 -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <div class="alert custom-tip-alert">
                        <span class="glyphicon glyphicon-exclamation-sign" style="display:inline"></span>
                        <p style="display:inline">TIP!</p>
                        <p>Este módulo te permite visualizar todos los períodos electorales hasta la fecha. Ademas, puedes definir las fechas para el próximo período electoral, y eliminarlo de ser necesario.</p>

                    </div>
                    <div class="alert custom-warning-alert">
                        <span class="glyphicon glyphicon-exclamation-sign" style="display:inline"></span>
                        <p style="display:inline">ADVERTENCIA!</p>
                        <p>Este módulo te permite visualizar todos los períodos electorales hasta la fecha. Ademas, puedes definir las fechas para el próximo período electoral, y eliminarlo de ser necesario.</p>

                    </div>
                    <div class="alert custom-neutral-alert">
                        <span class="glyphicon glyphicon-exclamation-sign" style="display:inline"></span>
                        <p style="display:inline">RECORDATORIO!</p>
                        <p >Este módulo te permite visualizar todos los períodos electorales hasta la fecha. Ademas, puedes definir las fechas para el próximo período electoral, y eliminarlo de ser necesario.</p>

                    </div>




                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>

</div>




<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>