<ul class="sidebar-nav">
    <!-- Titulo en el sidebar -->
    <li class="sidebar-brand">
        <a href="/index" style="text-align: center; ">
            <p class ="brandUCAB" > UCAB </p>
            <p class ="brandEgresados" >Egresados</p>
        </a>
    </li>
    <!-- Usuario en el Sidebar -->
    <div class="container-fluid">
        <div class="row columns-parent" >

            <div class="col-md-3"   >
                <img src="sources/non-usuario.png" class="img-responsive img-rounded "   >
            </div>
            <div class="col-md-9">
                <div class="user-name">
                    <p >Usuario</p>
                    <a href="/logout">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>


    <!--------------LISTADO DE OPCIONES----------------->
    <li>
        <a href="/gestion_usuarios">Gestionar Usuarios</a>
    </li>

    <li>
        <a href="/gestion_carreras">Gestionar Carreras</a>
    </li>

</ul>