<ul class="sidebar-nav">
    <!-- Titulo en el sidebar -->
    <li class="sidebar-brand">
        <a href="#" style="text-align: center; ">
            <p class ="brandUCAB" > UCAB </p>
            <p class ="brandEgresados" >Egresados</p>
        </a>
    </li>
    <!-- Usuario en el Sidebar -->
    <div class="container-fluid">
        <div class="row columns-parent" >

            <div class="col-md-3"   >
                <img src="sources/non-usuario.png" class="img-responsive img-rounded "   >
            </div>
            <div class="col-md-9">
                <div class="user-name">
                    <p >Usuario</p>
                    <a href="#">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>


    <!--------------LISTADO DE OPCIONES----------------->
    <li>
        <a href="/historico">Histórico de Resultados</a>
    </li>
    <li>
        <div class ="button-border">
            <button type="button" class="btn btn-link"  data-toggle="collapse" data-target="#ConfiguracionElectoral">
                <div>Configuración del Proceso Electoral</div>
            </button>
        </div>
        <div id="ConfiguracionElectoral" class="collapse sub-list" >
            <ul>
                <li  class="sub-list-item" >
                    <a href="/gestionar_periodos" > Crear Periódo Electoral </a>
                </li>
                <li  class="sub-list-item" >
                    <a href="/gestionar_cargos" > Gestionar Cargos de las Carreras</a>
                </li>
                <li  class="sub-list-item" >
                    <a href="/conformacion" > Conformar Papeletas </a>
                </li>
            </ul>
        </div>
    </li>

    <li>
        <div class ="button-border">
            <button type="button" class="btn btn-link"  data-toggle="collapse" data-target="#Totalizacion">
                <div>Totalización y asignación de cargos</div>
            </button>
        </div>
        <div id="Totalizacion" class="collapse sub-list" >
            <ul>
                <li  class="sub-list-item" >
                    <a href="/totalizacion" > Totalización de los Votos </a>
                </li>
                <li  class="sub-list-item" >
                    <a href="#" > Asignación Final de los Cargos</a>
                </li>
                <li  class="sub-list-item" >
                    <a href="#" > Generar Reportes Impresos </a>
                </li>
            </ul>
        </div>
    </li>

    <li>
        <div class ="button-border">
            <button type="button" class="btn btn-link"  data-toggle="collapse" data-target="#Candidatos">
                <div>Candidatos</div>
            </button>
        </div>
        <div id="Candidatos" class="collapse sub-list" >
            <ul>
                <% SideBarList.forEach(function(Elemento){ %>

                <li class="sub-list-item">
                    <a href= "candidatos-comision/<%= Elemento.IDCarrera.toString()%>" >
                        <%= Elemento.Nombre %>
                    </a>
                </li>

                <% }); %>
            </ul>
        </div>
    </li>


    <li>
        <a href="#">Imprimir Papeletas</a>
    </li>

</ul>